/* Use your own code or past solution for Great Idea Web Page CSS here! */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
    padding: 20px 1.25%;
}


/* Your code starts here! */

.container {
    width: 800px;
    margin: 0 auto;
  }

  @media(max-width: 700px) {
    .container {
      width: 98%;
    }

    .container header {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }

    .container header .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      margin-top: 20px;
      order: -1;
    }

    .container header nav {
      max-width: 98%;
      display: flex;
      flex-wrap: nowrap;
    }

    .container header nav a {
      margin-bottom: 20px;
      align-items: center;
    }

    .container .part1 {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .container .part1 img {
      display: none;
    }

    .container .part2 .top-content {
      width: 98%;
    }
    
  .container .part2 .top-content .text-content {
      width: 45%;
      display: inline-block;
      margin-right: 34px;
    }

    .container .middle-img {
      max-width: 98%;
      height: auto;
    }

    .container .part2 .bottom-content {
      width: 98%;
      margin-top: 37px;
      padding: 0 10px;
    }
    
    .container .part2 .bottom-content .text-content {
      width: 30%;
      display: inline-block;
      margin-right: 12px;
    }

  }
   
  
  @media(max-width: 500px) {
    .container {
      width: 98%;
    }
  
    .container header nav {
      width: 98%;
      display: flex;
      flex-direction: column;         
    }
    
    .container header nav a {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      border-top: 1px solid gray;
    }

    .container header nav a:last-child {
      padding: 18px;
      border-bottom: 1px solid gray;
    }

    .container .part1 {
      display: flex;
      justify-content: center;
      align-items: center;
    }
 
    .container .part1 img {
        display: none;
    }

    .container header .logo {
      margin-bottom: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      order: -1;
    }

    .container .part2 .top-content {
      padding: 0 10px;
    }
    
    .container .part2 .top-content .text-content {
      width: 370px;
      display: inline-block;
      margin-right: 34px;
    }

    .container .middle-img {
      max-width: 98%;
      height: auto;
    }

    .container .part2 .bottom-content {
      margin-top: 37px;
      padding: 0 10px;
    }
    
    .container .part2 .bottom-content .text-content {
      width: 245px;
      display: inline-block;
      margin-right: 12px;
    }
  }


    header nav {
        display: inline-block;
        width: 600px;
        vertical-align: top;
        margin-top: 30px;
        margin-left: 5px;
    }
    
    header nav a {
        margin-right: 55px;
        margin-left: 5px;
        font-size: 14px;
        color: gray;
        text-decoration: none;
    }
    
    header nav a:hover {
        text-decoration: underline;
      }
      
    header nav a:first-child {
        margin-left: 0;
      }
    
    header nav a:last-child {
        margin-right: 0;
      }
      
    header .logo {
        margin-top: 25px;
      } 
    
    .part1 .part1-text {
        display: inline-block;
        vertical-align: top;
        font-size: 65px;
        margin-top: 120px;
        text-align: center;
        padding: 0px 75px;
      }
      
    .part1 .part1-text button {
        background: white;
        vertical-align: top;
        margin-top: 6px;
        padding: 8px 44px;
        font-size: 17px;
        border: 1px solid black;
        cursor: pointer;
      }
      
    .part1 .part1-text button:hover {
        background: black;
        color: white;
      }
      
    .part1 img {
        display: inline-block;
        margin-top: 69px;
      }
    
    .part2 {
        border-top: 1px solid black;
        margin-top: 66px;
        padding-top: 39px;
      }
      
    .part2 .top-content {
        padding: 0 10px;
      }
      
    .part2 .top-content .text-content {
        width: 370px;
        display: inline-block;
        margin-right: 34px;
      }
      
    .part2 .top-content .text-content:last-child {
        margin-right: 0;
      }
      
    .part2 .middle-img {
        width: 98%;
        margin-left: 5px;
        margin-top: 45px;
      }
      
    .part2 .bottom-content {
        width: 99%
        margin-left: 30px;
        padding: 0 10px;
      }
      
    .part2 .bottom-content .text-content {
        width: 245px;
        display: inline-block;
        margin-right: 12px;
      }
      
    .part2 .bottom-content .text-content:last-child {
        margin-right: 0;
      }
    
    .contact-bottom {
        margin-top: 57px;
        border-top: 1px solid black;
        padding: 39px 10px 0;
      }
      
    .contact-bottom p {
        margin: 20px 0;
      }
    
    footer {
        margin: 32px 0;
        text-align: center;
        font-size: 14px;
      }
    
  /* End */


